.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#github-logo {
  width: 300px;
  padding: 20px;
}

#landing-title {
  text-align: center;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
